/* estilos.css */
body {
    background-color: rgba(229, 238, 219, 0.76) !important; /* Estilo muy visible para confirmar que funciona */
    padding-top: 70px; /* Para dar espacio al encabezado de Bootstrap */
}