{% extends 'base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
    <h2>Iniciar Sesión</h2>
    
    {% if form.errors %}
      <p style="color: red;">Usuario o contraseña incorrectos</p>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      
      {{ form.as_p }}

      <button type="submit">Entrar</button>
      
      <input type="hidden" name="next" value="{{ next }}"> 
    </form>
    
    <p>Ya estas registrado? <a href=" {% url 'usuarios:registro' %} "> Registráte</a></p>
{% endblock %}